.scroll-pane {
    -fx-background: white;
    -fx-background-insets: 0;
    -fx-background-radius: 15;
    -fx-padding: 10;
}

.scroll-pane .scroll-bar {
    -fx-background-color: white;
}

.border-pane{
    -fx-background-color: rgb(33, 150, 243); /* Blue background */
}

.box-white {
    -fx-background-color: white;
    -fx-padding: 10;
}

.vbox-padding {
    -fx-padding: 10 0 0 0;
}
