.column-header{
     -fx-background-color: rgba(0, 128, 0, 0.09);
     -fx-text-fill: BLACK;
     -fx-font-size: 16px;
 }
.row-header{
    -fx-background-color: rgba(0, 128, 0, 0.09);
    -fx-text-fill: BLACK;
    -fx-font-size: 16px;

}

.cell-button{
    -fx-background-color: WHITE;
    -fx-font-size: 10px;
}