.action-button{
    -fx-background-color: #64b5f6; /* Blue variant */
    -fx-text-fill: Black;
    -fx-font-size: 18px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.header-label{
    -fx-background-color: rgba(163, 39, 39, 0);
    -fx-text-fill: Black;
    -fx-font-size: 18px;
    -fx-background-radius: 0;
    -fx-border-radius: 5;
    -fx-border-color: rgb(25, 118, 210); /* Blue */
    -fx-border-width: 5;
}

.file-path{
    -fx-background-color: #1e88e5; /* Strong blue */
    -fx-text-fill: BLACK;
    -fx-font-size: 18px;
    -fx-border-radius: 80;
    -fx-background-radius: 10;
    -fx-border-radius: 20;
}

.title-label {
    -fx-text-fill: #0d47a1; /* Darker blue */
    -fx-font-size: 36px;
    -fx-font-family: "Guttman-Aharoni Bold";
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.25) , 8,0.5,0,1 );
    -fx-padding: 10;
    -fx-text-alignment: center;
}

.action-line{
    -fx-background-color: rgba(0, 0, 255, 0.2); /* Light blue background */
    -fx-background-radius: 10;
    -fx-border-radius: 20;
}
