/* General button styling */
.button {
    -fx-background-color: white; /* Default background color */
    -fx-background-radius: 8;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-padding: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.5, 0, 0);
}

.button:hover {
    -fx-background-color: #b3d9ff; /* Blue background on hover */
    -fx-border-color: blue;
    -fx-effect: dropshadow(gaussian, rgba(229, 229, 229, 0.47), 10, 0.8, 0, 0); /* Blue shadow effect on hover */
}

/* Icon size within buttons */
.button .image-view {
    -fx-fit-height: 25px;
    -fx-fit-width: 25px;
}

/* ComboBox styling */
.combo-box {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-color: #ccc;
    -fx-border-radius: 8;
    -fx-font-size: 14px;

}

.combo-box:hover {
    -fx-background-color: #b3d9ff; /* Blue background on hover */
    -fx-border-color: blue;
}

/* Label styling */
.label {
    -fx-text-fill: black;
    -fx-font-size: 18px;
    /*   -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0.5, 0, 0);*/
}
