#mainVbox {
    padding: 20px;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #005A9E;
}

.label-primary {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: #333;
}

.slider {
    -fx-background-color: #E0E0E0;
}

.slider .thumb {
    -fx-background-color: #0078D7;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-background-radius: 7.5;
}

.slider .track {
    -fx-background-color: #E0E0E0;
}

.slider .tick-mark {
    -fx-background-color: #0078D7;
    -fx-pref-height: 10px;
    -fx-pref-width: 2px;
}

.hbox {
    -fx-spacing: 10;
}
